h1{
    text-align: center;
    margin-top: 100px;
    color: #38A3A5;
}
span{
    color: #22577A;
}

button{
    transform: translateX(675px);
    width: 100px;
    height: 4vh;
    margin-left: 80px;
    background-color:#57CC99;
    color: #E5FBB8;
    border-radius: 5px;
    border: #E5FBB8 1.5px solid;
    font-size: 20px;
    
}
button:hover{
    background-color:#38A3A5;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #E5FBB8;
}